html{
	font-family: monospace;
}
.image{
	width: 49.5%;
	display:inline;
	margin: .5em;
		margin-left: 12.5%;
}

#house{
/*	display:block;*/
	width: 80%;
	margin-left: 15%;
}
#bubbles{
width: 80%;
	height: auto;
	margin-left: 12.5%;
}
#zombiepage{
	background-color:antiquewhite;
}